.container-Project {
  width: 360px;
  border: 1px solid black;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #111827;
  overflow: hidden;
}

.img-projects {
  width: 100%;
  height: 250px;
  aspect-ratio: 1 / 1;
}

.container-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  max-width: 767px;
  justify-content: center;
}
.title-card {
  font-size: 2rem;
  margin: 0px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  height: 50px;

  color: #f1f5f9;
  border-radius: 15px 15px 0px 0px;
}
.project-description {
  font-size: 1.2rem;
  color: #94a3b8;
}

.div-links {
  width: 85%;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  gap: 15px;
  align-items: center;
}
.links {
  text-decoration: dashed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links-svg-github {
  width: 50px;
  margin: 0px 5px 0px 5px;
  fill: #f04d3d;
}
.links-svg-deploy {
  width: 50px;
  margin: 0px 5px 0px 5px;
  stroke: #f04d3d;
}

p {
  color: black;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 1220px) {
  .container {
    justify-content: center;
    align-items: center;
  }
  .container-Project {
    width: 260px;
  }
  .img-projects {
    width: 100%;
  }
  .div-links {
    display: flex;
    word-wrap: break-word;
  }
  .links {
    display: flex;
  }
}
